<style type="text/css">
.btn-success:hover {
    color: blanchedalmond;
    background-color: #4c594c;
        border-color: #ccc;
border-width: 1px;

}
.btn-success {
    color: #fff;
    background-color: grey;
    border-color: #ccc;

border-width: 1px;

    margin-left: 18%;
}
.btn-secondary:hover {
    color: #292b2c;
    background-color: #e05b2f;
    border-color: #ccc;
    border-width: 1.5px;
}

 
 .texty {
    
    text-align: center;
    text-shadow: initial;
    color: #782525;
    font-weight: 200;
    font-size: 200%;
    margin-bottom: 0px;
    font-style: oblique;
    font-weight: bold;
}
.textytwo {
    margin-top: 2%;
    text-align: center;
    text-shadow: initial;
    color: black;
    font-weight: 100;
    font-size: 100%;
    
    font-style: oblique;
    font-weight: bold;
}
.btn-secondary:hover {
    color: #292b2c;
    background-color: #e05b2f;
    border-color: #030303;
    border-width: 1px;
}


	

p {
    margin-top: 8;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

	
	.text-center{	
	
	color:black;
 	font-weight: 400;
 	font-size: 350%;}

 	.btn-sucess{
 		margin-left: 20px;
 	}
</style>



</br>
<h1 class="text-center">Eatify Menu</h1></br>
<div class="btn-group" role="group" aria-label="Basic example">
<% @sections.each do |section| %>

<div class="col-md-6 col-offset-4">
<div class="well">
<div class="text-center">
<%= link_to section,menu_path(section: section),class: 'btn btn-success' %>
</div>
</div>
</div>



  <% end %>
  
</div>
</div>
</br></br>

<% @food_items.in_groups_of(3) do |group|  %>
<div class="row">
<% group.compact.each do |food_item| %>
			<div class="col-sm-4">
					<div class="card" style="width: 23rem;">
					  <%= image_tag food_item.image_url_or_default , alt: food_item.name %>
					  

						  <div class="card-block">
						    <h4 class="card-title">
						   <h3 class="texty"> <%= food_item.name %></h3>
						   </br>
						   
						   </br>
						    		
						    </h4>
						   
						    <p class="card-text"><%= food_item.description %></p>
						    <h5 class="textytwo"> ORDER PLACED: <span class="label label-default"><%= food_item.orders.size %></span></h5>
						   </br><a href="#" class="btn btn-secondary">orders</a></p>
						  </div>
							 
						 
					</div>
			</div>

			 <% end %>			

</div>
</br>



<% end %>


