<!DOCTYPE html>



<html>
<style type="text/css">
  .fa-search{
    margin-left: 800px;

  }
 
</style>

  <head>
    <title>Restapp</title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1105837907485443",
    enable_page_level_ads: true
  });
</script>

  </head>
 
  


  <body>


    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  
  
  <a class="navbar-brand" href="<%= root_path %>">Eatify</a>
   <a class="navbar-brand" href="<%= contact_us_path %>">Contact Us</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
    <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />
      
     
    </form>
  </div>
</nav>


        <div class="container">
 <% if flash[:error] %>
    <div class="alert alert-danger"><%=  flash[:error] %></div>
    <% end %>
     <% if flash[:success] %>
    <div class="alert alert-success"><%=  flash[:success] %></div>
    <% end %>


          <%= yield %>
          </div>
  </body>
</html>
